# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)
from citipy import citipy

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather = pd.read_csv("../WeatherPy/weather/weather.csv")
weather_data_df = weather.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,celestun,1,MX,1609818467,89,20.87,-90.40,72.59,11.97
1,chokurdakh,55,RU,1609818467,85,70.63,147.92,-25.11,11.36
2,new norfolk,98,LR,1609818191,94,6.65,-10.59,74.88,1.25
3,rikitea,9,PF,1609818467,73,-23.12,-134.97,76.93,17.02
4,mataura,100,NZ,1609818467,87,-46.19,168.86,58.37,0.89
...,...,...,...,...,...,...,...,...,...
558,novoukrainskoye,99,RU,1609818513,88,45.38,40.53,34.54,11.30
559,porto novo,0,PT,1609818513,100,41.15,-8.61,33.80,4.74
560,susanville,90,US,1609818513,86,40.42,-120.65,37.40,9.17
561,warrington,0,GB,1609818513,80,53.39,-2.58,37.00,8.05
562,tuni,91,IN,1609818513,55,17.35,82.55,78.08,8.46

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = weather_data_df[["Lat", "Lng"]]
humidity = weather_data_df["Humidity"].astype(float)
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#given conditions are:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
new_weather = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_weather["Max Temp"] <= 80) & (new_weather["Max Temp"] > 70)
wind_speed = new_weather["Wind Speed"] < 10
cloudiness = new_weather["Cloudiness"] == 0

new_weather[max_temp & wind_speed & cloudiness]

            City  Max Temp  Wind Speed  Cloudiness
61   youkounkoun     70.25        2.28           0
95        collie     79.00        4.00           0
98       cayenne     75.20        2.24           0
106      lafiagi     73.09        3.85           0
157    velingara     74.26        6.60           0
200        arlit     70.79        4.45           0
218    caravelas     75.99        7.45           0
245   manacapuru     77.00        3.49           0
264      bubaque     79.72        7.20           0
271       zhuhai     72.00        9.17           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = pd.DataFrame(weather, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country    Lat     Lng Hotel Name
0     celestun      MX  20.87  -90.40
1   chokurdakh      RU  70.63  147.92
2  new norfolk      LR   6.65  -10.59
3      rikitea      PF -23.12 -134.97
4      mataura      NZ -46.19  168.86

In [6]:
target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using params dictionary
response = requests.get(base_url, params=params)

pprint(response.json(), depth=1)

{'html_attributions': [], 'results': [...], 'status': 'OK'}

In [7]:
#time to put the hotel names into a list
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to a json 
    name_address = name_address.json()
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [8]:
#pain
hotel_name

['Posada Lilia',
 nan,
 nan,
 "Pension Maro'i",
 "Ellie's Villa",
 'Misty Waves Boutique Hotel',
 'Paradise Inn',
 'Observatory Guest House',
 'Desert Gardens Hotel - Ayers Rock Resort',
 'Sheraton Kauai Resort at Coconut Beach',
 'Talnakh Hotel',
 'Hotel Morón',
 nan,
 'Pensión Residencial Victoria Drinks&Food',
 'Nuli Sapi',
 'Sandpiper Motel',
 'Villa Enata',
 'Scoop Guest House',
 'Siang Guest House',
 'Villa del Palmar Flamingos Beach Resort & Spa Riviera Nayarit',
 'Motel 6 Cincinnati, OH - Central - Norwood',
 'Kaitangata Motor Camp',
 "Marriott's Ko Olina Beach Club",
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Chambres d\'hôte "La Trinité"',
 'Vyjannex boarding house',
 'Hengifoss Guesthouse',
 'Keleti Beach Resort',
 'Hotel Peace Land Ishigakijima',
 nan,
 'Albatros Hotel',
 'Holiday Inn Express Lompoc',
 'Hotel Anastasia',
 'Qaanaaq Hotel',
 'Broadwater Mariner Resort',
 'Burntwood Hotel',
 'Centre Pastoral St. Augustin',
 'Pondok Wisata Elim',
 'Hilo Hawaiian Hotel',
 'Fuente del Guania Hotel de Lujo',
 "Gina's Guesthouse - Upernavik",
 'Hôtel Teriya',
 'Xichang ibis Hotel',
 'Mini Hotel Central',
 'Cititel Penang',
 nan,
 nan,
 'VS Villa',
 nan,
 'Ti Cabanon (Cabe Ltd.)',
 'Lodge Vooda Residency AC',
 'Hotel Costa Esmeralda Suites',
 'Rio Huallaga Hotel & Business Center',
 'Hotel Confiança',
 nan,
 'Hampton Inn & Suites Jamestown',
 'Oyster Bay House Rental',
 'Premier Inn Huddersfield West hotel',
 'Harding River Caravan Park',
 'Diego De Almagro Coyhaique',
 'Contact-Hotel-du-Relais',
 nan,
 'Blue Bay Lodge',
 nan,
 'MOTEL Mediterraneo',
 'Tourist House - Sablino',
 'The Hatchery',
 'swayamprabha service apartments',
 '奄美ポートタワーホテル',
 nan,
 'Hotel Varun',
 'ibis Styles Karratha',
 'Beleza Pura B&B',
 'Hotel Boutique Las Azucenas',
 'Hotel Real Jaca & Spa',
 nan,
 'Fuli Hotel',
 'King Eider Inn',
 'Bora-Bora Pearl Beach Resort & Spa',
 'Shandrani Beachcomber Resort & Spa',
 'Mercure Ayr Hotel',
 nan,
 'Juvinal Martin',
 'Leshan Haiyun International Youth Hostel',
 'Severnoye Zoloto',
 'Gostinitsa "Zapolyar\'ye"',
 'Tgk Alisa',
 'Brunas Park Hotel',
 nan,
 'Imperial Hotel',
 'Chivurkiyskaya Skazka',
 'Holiday Inn Express & Suites Snyder',
 'Isles Sunset Lodge',
 'Courtyard by Marriott Danbury',
 'Hotel Miramar',
 'Collie Ridge',
 'Mercure Padang',
 'Le Manotel',
 'Hôtel Le Dronmi',
 'Империя',
 'Puente VEHICULAR ALPOYECA-SAN JOSE BUENA VISTA GUERRERO, MÉXICO.',
 'Gostinitsa',
 'Hôtel Mercure Tours Centre Gare et Congrès',
 nan,
 'Gostinitsa Kedr',
 'Hotel Blue Diamond.',
 'Bus group international',
 nan,
 'Nordkapp Vandrerhjem',
 'NTS Rooms, Nanortalik',
 nan,
 nan,
 'Hotel Nuquimar',
 'The Explorer Hotel',
 'Hôtel Mercure Rabat Sheherazade',
 'DIAN SINKO',
 'Holiday Inn Express El Paso - Downtown',
 'Inubosaki Kanko Hotel',
 "Bils' Villa",
 'Busta House Hotel',
 'Casa Das Faias',
 'Hotel Marrakech',
 'Отель Уют',
 'Jiuquan Hotel',
 'Hotel Alejandro I',
 'Grand Star Guest House',
 'Yevlax Şeher Heyder Eliyev Parki',
 'Quality Hotel Wangaratta Gateway',
 nan,
 'Bluff Homestead - Guesthouse & Campervan Park',
 'Arktika',
 'St Ives Hobart Accommodation Tasmania',
 'Gostinitsa',
 'Bredasdorp Country Manor',
 'Nuevo Hotel Plaza',
 'CCI Express Inn',
 'Kak Doma',
 'dyd -mar Hotel',
 'Orient Apartments',
 'Red Roof Inn Clyde',
 'Best Western Kodiak Inn and Convention Center',
 'Gulisitan Hotel',
 'Gostinichnyy Kompleks Aleksandr',
 'Napakuang Resort',
 'Haines Alaska guesthouse',
 'End of The Road Ltd.',
 'Premier Inn Huddersfield West hotel',
 'Yeet Hotel',
 'Hotel San Isidro Oficial',
 'SEGAYA PROPERTY',
 'Super 8 by Wyndham Fortuna',
 'Vandrehuset',
 'Hotel Tiara Park Atlantic Porto',
 'Hotel Vila Galé Cascais',
 'Ahipara Holiday Park',
 'Khum Tai Lue Resort',
 'Caladh Inn',
 'Hotel Najla',
 'Hotel Campomar Playa',
 'jain chat centar',
 'Coliba Bozia George Paul Jumi Andrei',
 'Sheraton Hohhot Hotel',
 'Sheraton Reserva do Paiva',
 'Sheraton Reserva do Paiva',
 'Hotel Castelo',
 'Days Inn by Wyndham Berlin Voorhees',
 'Enon Beach Resort',
 'Grage Hotel Bengkulu',
 nan,
 'Ikathouse',
 'CHACARA BAILLY',
 'Hotel "Vēju paradīze"',
 'OYO 3114 Homestay Dalimo',
 'Guest hous Tambura',
 nan,
 'Hospedaje Punta Cana PERU',
 'The Westin Bellevue',
 'Penginapan Kim',
 'Shvedka',
 'Novotel Cotonou Orisha',
 'Hotel Marko Polo',
 'Norma franco',
 'Protea Hotel by Marriott Zambezi River Lodge',
 'The Bidwell Marriott Portland',
 'Skytterhuset',
 'Hotel Olafsvik',
 'Recreativo Sabdy Briseidy',
 'Legacy Vacation Resort Brigantine Beach',
 'Maui Seaside Hotel',
 'Country Inn & Suites by Radisson, Norman, OK',
 nan,
 'Airbnb rooms',
 'Oasis hotel Bautino',
 'Kilabuk Lodge',
 'Hotel Ganesh',
 'Bonthe Holiday Village',
 nan,
 'Hotel Chik Chik Namibe',
 'Bukhari hotl',
 'HAMDAN PLAZA HOTEL',
 'Hôtel Telwa Bungalow',
 'Urbanización Brisas de Acajutla II',
 'The Red House',
 'Hotel "Geologist"',
 'Dostyk',
 'Hotel Heilmann Lyberth',
 'Chácara Deus está conosco',
 'Container Inn Puerto Vallarta',
 'Westmark Sitka',
 "Northern Light Inn & Max's Restaurant",
 'Hotel Captain Cook',
 'Hôtel Teriya',
 '安琪酒店',
 'Aklavik Inn',
 'Nova Inn Inuvik',
 'Hotel Restaurant Turístico Casablanca',
 'Lorengau Harbourside Hotel',
 'Hotel Sibiria Inn',
 'Pousada dos Navegantes',
 'Nusa Island Retreat',
 'Trailways Hotel',
 'Sardor Salimovich',
 'Hotel Sundar Rara Karnali',
 'Comfort Inn',
 nan,
 'Гостиница Сарканд',
 'Radisson Blu Resort Temple Bay Mamallapuram',
 'Hotel Syamzha',
 'Hampton Inn & Suites Chicago-Libertyville',
 'Hampton Inn Ukiah',
 'Hotel Citra',
 'Protea Hotel by Marriott Knysna Quays',
 'Howard Johnson Plaza Hotel Mayorazgo',
 'Swiss-Belhotel Ambon',
 'Zhongyu Hotel',
 'Hospitality Esperance',
 'Gostinichnyy Kompleks Aylgy',
 'Media Naranja',
 'LIKWALE LODGE',
 'Tourist Hamlet Gilgit',
 'Hotel Entre Rios',
 'Guest House Epervier',
 'Hotel Kandamba',
 'Lumphat Homestay',
 nan,
 'Novo Hotel',
 nan,
 'Wingate By Wyndham Rome',
 'Hotel Arctic',
 'Hampton Inn & Suites Washington-Dulles International Airport',
 'Castle Motor Lodge Motel',
 'Hôtel du Val de Seine',
 'Mehamn Arctic Hotel AS',
 'Gostinitsa Tommot',
 'Hostal Las Lilas',
 nan,
 'Holiday Inn Express Richmond - Downtown',
 'Резиденция в Сосново',
 'Hotel "Nogliki"',
 nan,
 'D-26/2, Dolphin Hill,',
 'Saikrupa Lawns',
 'Scenic Hotel Southern Cross',
 'Mini-Hotel Lokomotiv',
 'Casa Dora, Bubaque',
 'Minsk Hotel',
 nan,
 'Federal',
 nan,
 'Hotel y restaurante "El Diamante"',
 nan,
 '珠海粤财假日酒店',
 'Codrington Gardens Bed And Breakfast',
 "Appart'City Paris Clichy Mairie - Appart Hôtel",
 'Хостел',
 'Myhousebythesea',
 'La Casa del Cine',
 'xamdihotelresturant114',
 'la Tour des Anglais',
 nan,
 'Gostinitsa Dostyk 1 U Zheni',
 'Hotel Ultramar',
 'Seref Hotel',
 'Hotel Kou-Bugny',
 'Hotel Amor',
 "Abbott's Bed & Breakfast",
 'Vahiny Lodge',
 'Hostellerie De La Renaissance',
 'Vardø Hotel AS',
 'El Medina',
 'Chez Dydyce Guesthouse',
 'Yos ega cv',
 'Marina Village',
 'Hotel Castrum Villae',
 'Tibesti Hotel',
 '5 Komnat',
 'ビジネス民宿あべ',
 'Shellharbour Resort & Conference Centre',
 'Gallows Cove',
 'Salinas Park Resort Maçarico AP101',
 nan,
 'Cobblestone Hotel & Suites - Janesville',
 'Pai Hotel Yantai Longkou City Heping Road',
 nan,
 'Gîte kajeon',
 'Hotel Olako',
 'Gostinitsa Alrosa',
 'Hôtel Le Lagon',
 'Luga',
 'JM Lodge',
 'RedDoorz Syariah near Taman Berlabuh Tarakan',
 'Clarion Collection Hotel Grand Bod',
 'Inn of the Mountain Gods',
 'Kebbah CIA',
 'Platinum Hotel',
 'Hampton Inn Oneonta',
 'Tarawa Boutique Hotel',
 'Hotel RIKMAN Continental',
 'Green Apple Inn',
 'Lady Bay Resort',
 'Kisampa Bush Retreat',
 nan,
 'Hotel 89',
 'जाजम Royal Family Rao shab',
 'Circuit House',
 'LES Art Resort',
 nan,
 'Sheraton Qingdao Jiaozhou Hotel',
 'Cobblestone Hotel & Suites - Janesville',
 'Piaçabuçu News',
 'Parkir Mobil Wisata CAS Water Park',
 'Sadokamoko Onsen Kohanno Yado Yoshidaya',
 'Casona Del Muelle',
 'Raybow International Hotel',
 'Hotel Usolie',
 'INN NEW HORIZON',
 'Ghani Hasrat House',
 'Chateau on the Park - Christchurch, a DoubleTree by Hilton',
 'QT Sydney',
 'Klub Kranskuil',
 nan,
 'Estancia zursan',
 'Hotel Rifugio Sores',
 'Coburn Hotel',
 'Storyboard Beach Resort',
 nan,
 nan,
 'Hampton Inn & Suites Arcata, CA',
 'Casa Maquia',
 'Screensaver',
 'Buyant Hotel',
 nan,
 'Dalvík HI Hostel',
 nan,
 'Kinn Hotell Florø',
 'Pension Feldgärtenhof',
 'LÜDERITZ NEST HOTEL',
 'Hotel Astor',
 'Movig Hotel & Suites',
 'Hotel Astor',
 nan,
 'Ingliston Country Club and Hotel',
 'Swiss Spirit Hotel & Suites Turaif',
 'Туристический комплекс Абалак',
 'Briz',
 'Salinas do Maragogi All Inclusive Resort',
 'Hotel Campomar Playa',
 nan,
 'Hotel "Ternay"',
 'Bow Manor Motor Hotel',
 'СТО CUMMINS',
 "Nathaniel's Lodge",
 'Hospitality Carnarvon',
 'بوتیک زنانه بهار',
 'Villa Gavana Resort',
 nan,
 'Hotel Harbour Grace',
 'Snows Cove Lodge',
 nan,
 'Grand Trisula Hotel',
 'Americas Best Value Inn & Suites - Detroit Lakes MN',
 'Dipo Resort',
 'Goodin Country Garden',
 'Baza Otdykha',
 'Amangalla',
 'Molodozhnyy Lager\' "Pioner"',
 'Hotel Carlos V Toledo',
 'Hotels in Lakshadweep Islands',
 'Gauthier / Stany',
 'Huadu Hotel',
 'AXIM BEACH RESORT AND SPA',
 'Hotel Castrum Villae',
 'Atlantis Hotel',
 'Northern Motor Inn',
 nan,
 'Chenango Valley State Park',
 'شرکت معماری مهراز شایگان آراد',
 'Hotel Bela Vista',
 'Majestic Bed and Breakfast',
 "ROREM'S BOARDING HOUSE",
 'Iron Wheel Mobile Home Park',
 'De-Marvellous Guest House, Obaagun',
 'Sikakubete Guest House Kalabo Town Council',
 'Yalemd',
 'Eichberg',
 'Pousada do Carmo',
 'Saikrupa Lawns',
 'Pin Drop Hotel',
 'Tooley Mobile Home Park',
 'Hotel Syariah CN Darussalam',
 'Pousada da wanda',
 'Hotel Kawissa Saurimo',
 'Hotel das Oliveiras',
 'Waheed garmints and cosmetic',
 'Lakeview Lodge',
 'Wedgewood Motel',
 'Atrium Hotel Mandurah',
 'Hotelli Kemijärvi',
 'Casa do Rio Vez - Alojamento de Charme',
 nan,
 'Дельфин',
 'Holiday Inn Express Antofagasta',
 'Hotel Ladakh Greens',
 'Hotel Arena Gruesa',
 'Pine Tree Motel',
 nan,
 nan,
 'Methoni Beach Hotel',
 'Hotel Hindusthan',
 nan,
 nan,
 'Mahikeng Guest Apartments',
 'Loews Philadelphia Hotel',
 'صاحبة الفخامة',
 nan,
 'The West Cork Hotel',
 'Hotel Le Martin Pecheur',
 'ibis budget Newport',
 'Katsuura Hotel Mikazuki',
 'Premier Inn Margate hotel',
 'Jinjiang Hotel',
 'Holiday Inn Express & Suites Elk Grove Central - Hwy 99',
 'Kwepunha Retreat',
 'مزرعة راحة النفوس المنزفة',
 nan,
 'Orland Kysthotell',
 'Centre Chateau Logue',
 'Nordre Silda.',
 nan,
 nan,
 'Four Points by Sheraton Bijie',
 'Hotel Trust Inn',
 'Haer B&B',
 'Montanema Handmade Village',
 'San Juan Jaguariaíva',
 'InterContinental Riyadh',
 'El Carrizal',
 'The Retreat at the Farm',
 'Big Run Wolf Ranch',
 'Hotel Norte',
 'بورتو بردية',
 'Remhai Hotel',
 'Oceano',
 nan,
 'Volcano Sea View Tree House',
 'Quinta Samay',
 'Burunday Oteli',
 nan,
 'Gostinitsa "Viktoriya"',
 'Camp Ripan',
 'Matawe Bay Farm Resort',
 'St. Joseph Thirumana mandapam',
 "Pike's Waterfront Lodge",
 'Hotel Meridijan',
 'Trinity Plains Tourist Park',
 nan,
 nan,
 nan,
 nan,
 'Auberge les abou',
 "The Fisherman's Cove",
 'Cabañas Estancia Bayamon',
 "Krasnosel'kupnefteprodukt",
 'Holiday Inn Express & Suites Alice',
 'Ramkota Hotel',
 "Otel' Chayka",
 'Flat Hotel La Benediction',
 "U Praskov'i",
 'La Bajadita',
 'Westmark Fairbanks Hotel & Conference Center',
 'Hotel Apollon',
 'Manoir Du Bonheur',
 'Maitai Lapita Village Huahine',
 'Best Western Deming Southwest Inn',
 'True Treasure Hotel',
 'Hotel hewa bora',
 'Karasjok camping AS',
 'Pousada Mariana',
 'Hotel San Juan',
 'Thyborøn Hotel',
 'Cholo View Lodge',
 'Porto Santana',
 "Elizaveta Shevchuk's House",
 'River Place Manor',
 'Til Hotels',
 'Velichko T.p., Gostinitsa',
 'Sheraton Cordoba Hotel',
 'Super 8 by Wyndham Natchitoches',
 'Кочевник',
 'Hotel Los Arcos',
 'Mercure Maceio Pajucara Hotel',
 'Oumou Elghoura',
 'The Mansion',
 'HOTEL METROPOLE DU KASAI',
 'GrandStay® Residential Suites Hotel – Faribault',
 'Cambridge Hotel',
 'Leisure Vacation Myrica Hotel',
 'Motel 6 Grants, NM',
 'Flem Cabins',
 'Novotel Dakar',
 'Puppy',
 'Hotel Ritz Sumbe',
 'Super Leisure Hotel',
 'Charlton House Hotel & Spa',
 'Hôtel Teriya',
 'Pousada Vale Aprazível',
 'Frobisher Inn',
 'Lider',
 'Divi Village Golf & Beach Resort',
 'ARTIEM Capri',
 nan,
 'Prolesok Mini-hotel',
 nan,
 'Hakan Hotel',
 'Hotel Sisimiut',
 'Posada del Inti Centro',
 nan,
 'Hotel Nusantara Nabire',
 nan,
 'Hotel Ganesh',
 'Uyut',
 'Conrad Bora Bora Nui',
 nan,
 'Vevu Guesthouse',
 "Ron and Tony's Bed & Breakfast",
 'KOSAN UNGU UNSIK',
 'Hotel Opatija',
 'Norwalk Inn',
 'Gostinitsa "Nadezhda"',
 'Hotel Chateau',
 'Taloa Heights',
 'Aldan Guest House',
 'Capital Hotel',
 'Montana Hotel Syariah',
 'The Blue Sky Hotel and Tower',
 'LE SAMANA',
 nan,
 'مركز تسيل للتجميل',
 'Hotel Edem',
 'Hotel Tiara Park Atlantic Porto',
 'Red Lion Inn & Suites Susanville',
 'Villaggio Hotel',
 'Sai Krishna Lodge']

In [9]:
#insert hotel names into the DF and drop NA's
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
#export a csv file
hotel_df.to_csv('hotel.csv')

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))